body {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  margin: 0;
  overflow: hidden;

  &:before {
    content: '';
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // position: absolute;
    // width: 100%;
    // height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
  max-width: 700px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  padding: 20px 15px;
  z-index: 1;
}

.container {
  padding-top: 32px;
}

.top {
  padding-bottom: 32px;
}

.weatherBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.description {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.temp {
  font-size: 6rem;
  margin: 10px 0;
}

.celsius {
  font-size: 3.2rem;
  font-weight: 600;
}

.bottom {
  background-color: rgba(105, 142, 167, 0.2);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 1.2rem;
}
